@import '@/assets/_common.scss';

@font-face {
	font-family: Iomanoid;
	src: url('./assets/fonts/Iomanoid.otf') format('opentype');
}

@font-face {
	font-family: TheBombSound;
	src: url('./assets/fonts/The Bomb Sound.ttf') format('truetype');
}

body {
	margin: 0;
	overflow: hidden;
	overflow-y: auto;
	background: $bgColor;
	background: $bgGrad;
	font-family: TheBombSound, sans-serif;
	// background: url('@/assets/img/bg.png') repeat;
	// background-position: center;
}

i,
span,
a,
button {
	font-family: TheBombSound, sans-serif;
}

#app {
	position: relative;
	min-height: 100dvh;
	overflow: hidden;
	width: 100%;
	max-width: 680px;
	margin: 0 auto;
}

.page {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.container {
	box-sizing: border-box;
	max-width: 680px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}
